Checklist.pdf
Guías.pdf
exports/index.html
exports/assets/arrow.svg
exports/assets/button close.svg
exports/assets/button3.svg
exports/assets/camera_light.svg
exports/assets/camera.svg
exports/assets/close.svg
exports/assets/Combined Shape.svg
exports/assets/desktop.ini
exports/assets/dropdown.svg
exports/assets/forward.svg
exports/assets/gifOF_logo_dark.png
exports/assets/gifOF_logo.png
exports/assets/globe_img.png
exports/assets/lupa_inactive.svg
exports/assets/lupa_light.svg
exports/assets/lupa.svg
exports/assets/recording_dark.svg
exports/assets/recording.svg
exports/assets/window img.png
exports/links/page-1-gifos_captura_1.html
exports/links/page-1-gifos_captura_3_precaptura.html
exports/links/page-1-gifos_captura_4_captutando.html
exports/links/page-1-gifos_captura_5_vista-previa.html
exports/links/page-1-gifos_captura_6_subiendo.html
exports/links/page-1-gifos_captura_7_exito.html
exports/links/page-1-gifos_estados_theme1.html
exports/links/page-1-gifos_estados_theme2.html
exports/links/page-1-gifos_home_búsqueda.html
exports/links/page-1-gifos_home_theme2.html
exports/links/page-1-gifos_home.html
exports/links/page-1-gifos_misguifos.html
exports/links/page-1-gifos_resultados-de-busqueda.html
exports/preview/page-1-gifos_captura_1.png
exports/preview/page-1-gifos_captura_3_precaptura.png
exports/preview/page-1-gifos_captura_4_captutando.png
exports/preview/page-1-gifos_captura_5_vista-previa.png
exports/preview/page-1-gifos_captura_6_subiendo.png
exports/preview/page-1-gifos_captura_7_exito.png
exports/preview/page-1-gifos_estados_theme1.png
exports/preview/page-1-gifos_estados_theme2.png
exports/preview/page-1-gifos_home_busqueda.png
exports/preview/page-1-gifos_home_theme2.png
exports/preview/page-1-gifos_home.png
exports/preview/page-1-gifos_misguifos.png
exports/preview/page-1-gifos_resultados-de-busqueda.png
