// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// COLORS
$menu-day-bg: #fff4fd;
$menu-night-bg: #f0f0f0;
$btn-light-hover: #e6bbe2;
$bg: #110038;
// BORDERS
$rec-buscar-b: 1px solid #e6bbe2;
$input-buscar-b: 1px solid #979797;
$btn-border: 1px solid #110038;
$btn-mas-b: 1px solid #4c2f99;
//BOX-SHADOWS
$bar-bs: 0 1px 0 0 #110038;
$menu-bs: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
$rec-buscar-bs: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
$input-buscar-bg: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;




/// Regular font family
/// @type List
// $text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
// $code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
// $text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
// $brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
// $light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
// $mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
// $dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
// $max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
// $breakpoints: (
//   'small': 320px,
//   'medium': 768px,
//   'large': 1024px,
// ) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
// $base-url: '/assets/' !default;
