// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// COLORS
$menu-day-bg: #fff4fd;
$menu-night-bg: #f0f0f0;
$btn-light-hover: #e6bbe2;
$bg: #110038;
// BORDERS
$rec-buscar-b: 1px solid #e6bbe2;
$input-buscar-b: 1px solid #979797;
$btn-border: 1px solid #110038;
$btn-mas-b: 1px solid #4c2f99;
//BOX-SHADOWS
$bar-bs: 0 1px 0 0 #110038;
$menu-bs: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
$rec-buscar-bs: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
$input-buscar-bg: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;