// COLORS
$menu-day-bg: #fff4fd;
$menu-night-bg: #f0f0f0;
$btn-light-hover: #e6bbe2;
$bg: #110038;
// BORDERS
$rec-buscar-b: 1px solid #e6bbe2;
$input-buscar-b: 1px solid #979797;
$btn-border: 1px solid #110038;
$btn-mas-b: 1px solid #4c2f99;
//BOX-SHADOWS
$bar-bs: 0 1px 0 0 #110038;
$menu-bs: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
$rec-buscar-bs: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
$input-buscar-bg: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;


//! LIGHT THEME
html {
	--body_Background: #fff4fd;

	--topBarPrincipal_Background: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
	--topBarPrincipal_Text: #ffffff;

	--btn_CrearGifos_ElegirTema_Background: #f7c9f3;
	--btn_CrearGifos_ElegirTema_Background_HoverActive: #e6bbe2;
	--btn_CrearGifos_ElegirTema_Border: 1px solid #110038;
	--btn_CrearGifos_ElegirTema_Border_HoverActive: 1px dotted #110038;
	--btn_CrearGifos_ElegirTema_BoxShadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
	--btn_CrearGifos_ElegirTema_Text: #110038;

	--boxTemas_Background: #e6e6e6;
	--boxTemas_BoxShadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

	--btnSailorDay_Background: #fff4fd;
	--btnSailorDay_Border: 1px solid #cca6c9;
	--btnSailorDay_BoxShadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
	--btnSailorDay_Text: #110038;

	--btnSailorNight_Background: #f0f0f0;
	--btnSailorNight_Border: 1px solid #808080;
	--btnSailorNight_BoxShadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
	--btnSailorNight_Text: #110038;				//! SIN USO

	--btnMisGifos_Text: #110038;
	--btnMisGifos_Border_Hover: 1px dotted #110038;

	--boxDeBusqueda_Background: #e6e6e6;
	--boxDeBusqueda_BoxShadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

	--topBarBuscar_Background: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
	--topBarBuscar_Text: #ffffff;

	--cuadroTextBusqueda_Background: #ffffff;
	--cuadroTextBusqueda_Border: 1px solid #979797;
	--cuadroTextBusqueda_BoxShadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
	--cuadroTextBusqueda_Text: #b4b4b4;
	--cuadroTextBusqueda_Text_Focus: #110038;

	--btnBuscar_Background: #e6e6e6;
	--btnBuscar_Background_Focus: #f7c9f3;
	--btnBuscar_Background_Active: #e6bbe2;
	--btnBuscar_Border: 1px solid #808080;
	--btnBuscar_Border_Focus: 1px solid #110038;
	--btnBuscar_Border_Active: 1px dotted #110038;
	--btnBuscar_BoxShadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
	--btnBuscar_BoxShadow_FocusActive: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
	--btnBuscar_Text: #b4b4b4;
	--btnBuscar_Text_FocusActive: #110038;

	--popupDeBusqueda_Background: #e6e6e6;
	--popupDeBusqueda_BoxShadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

	--btnSugerido_Background: #f0f0f0;
	--btnSugerido_Background_Active: #dbdbdb;
	--btnSugerido_Border: 1px solid #808080;
	--btnSugerido_Border_Focus: 1px dotted #110038;
	--btnSugerido_BoxShadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
	--btnSugerido_Text: #110038;

	--btnHashtag_Background: #4180f6;
	--btnHashtag_Border: 1px solid #4c2f99;
	--btnHashtag_Border_Hover: 1px dotted #4c2f99;
	--btnHashtag_BoxShadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
	--btnHashtag_Text: #ffffff;

	--tituloSugerenciasTendenciasResultado_Background: #fffafe;
	--tituloSugerenciasTendenciasResultado_Border: 1px solid #e6bbe2;
	--tituloSugerenciasTendenciasResultado_BoxShadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
	--tituloSugerenciasTendenciasResultado_Text: #110038;

	--boxDeGifs_Background: #e6e6e6;
	--boxDeGifs_BoxShadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
	--boxDeGifs_Border_Hover: 1px dotted #110038;

	--topBarGif_Background: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);	 //! SIN USO
	--topBarGif_Text: #ffffff;  //! SIN USO

	--btnVerMas_Background: #4180f6;
	--btnVerMas_Background_Hover: #3a72db;
	--btnVerMas_Border: 1px solid #4c2f99;
	--btnVerMas_Border_Hover: 1px dotted #4c2f99;
	--btnVerMas_BoxShadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
	--btnVerMas_Text: #ffffff;

	--boxGifTendencias_Border_Hover: 1px dotted #110038;
}

//! DARK THEME
html[data-theme='dark'] {
	--body_Background: #110038;

	--topBarPrincipal_Background: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
	--topBarPrincipal_Text: #ffffff;

	--btn_CrearGifos_ElegirTema_Background: #ee3efe;
	--btn_CrearGifos_ElegirTema_Background_HoverActive: #ce36db;
	--btn_CrearGifos_ElegirTema_Border: 1px solid #110038;
	--btn_CrearGifos_ElegirTema_Border_HoverActive: 1px dotted #110038;
	--btn_CrearGifos_ElegirTema_BoxShadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
	--btn_CrearGifos_ElegirTema_Text: #ffffff;

	--boxTemas_Background: #b4b4b4;
	--boxTemas_BoxShadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;

	--btnSailorDay_Background: #cccccc;
	--btnSailorDay_Border: 1px solid #808080;
	--btnSailorDay_BoxShadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
	--btnSailorDay_Text: #110038;

	--btnSailorNight_Background: #2e32fb;
	--btnSailorNight_Border: 1px solid rgba(51, 53, 143, 0.2);
	--btnSailorNight_BoxShadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
	--btnSailorNight_Text: #ffffff;

	--btnMisGifos_Text: #ffffff;
	--btnMisGifos_Border_Hover: 1px dotted #ffffff;

	--boxDeBusqueda_Background: #b4b4b4;
	--boxDeBusqueda_BoxShadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;

	--topBarBuscar_Background: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
	--topBarBuscar_Text: #ffffff;

	--cuadroTextBusqueda_Background: #ffffff;
	--cuadroTextBusqueda_Border: 1px solid #979797;
	--cuadroTextBusqueda_BoxShadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
	--cuadroTextBusqueda_Text: #b4b4b4;
	--cuadroTextBusqueda_Text_Focus: #110038;

	--btnBuscar_Background: #b4b4b4;
	--btnBuscar_Background_Focus: #ee3efe;
	--btnBuscar_Background_Active: #ce36db;
	--btnBuscar_Border: 1px solid #808080;
	--btnBuscar_Border_Focus: 1px solid #110038;
	--btnBuscar_Border_Active: 1px dotted #110038;
	--btnBuscar_BoxShadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
	--btnBuscar_BoxShadow_FocusActive: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
	--btnBuscar_Text: #8f8f8f;
	--btnBuscar_Text_FocusActive: #ffffff;

	--popupDeBusqueda_Background: #b4b4b4;
	--popupDeBusqueda_BoxShadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;

	--btnSugerido_Background: #cccccc;
	--btnSugerido_Border: 1px solid #808080;
	--btnSugerido_Border_Focus: 1px dotted #110038;
	--btnSugerido_BoxShadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
	--btnSugerido_Text: #110038;

	--btnHashtag_Background: #2e32fb;
	--btnHashtag_Border: 1px solid #4c2f99;
	--btnHashtag_Border_Hover: 1px dotted #4c2f99;
	--btnHashtag_BoxShadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
	--btnHashtag_Text: #ffffff;

	--tituloSugerenciasTendenciasResultado_Background: #fffafe;
	--tituloSugerenciasTendenciasResultado_Border: 1px solid #2e32fb;
	--tituloSugerenciasTendenciasResultado_BoxShadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
	--tituloSugerenciasTendenciasResultado_Text: #110038;

	--boxDeGifs_Background: #b4b4b4;
	--boxDeGifs_BoxShadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
	--boxDeGifs_Border_Hover: 1px dotted #110038;

	--topBarGif_Background: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
	--topBarGif_Text: #ffffff;

	--btnVerMas_Background: #2e32fb;
	--btnVerMas_Background_Hover: #2629cc;
	--btnVerMas_Border: 1px solid #4c2f99;
	--btnVerMas_Border_Hover: 1px dotted #4c2f99;
	--btnVerMas_BoxShadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
	--btnVerMas_Text: #ffffff;

	--boxGifTendencias_Border_Hover: 1px dotted #110038;
}
