$bg--light: #FFF4FD;
$bg--dark: #110038;

$bar--bs: 0 1px 0 0 #110038;
$bar--bg--light: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
$bar--bg--dark: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);

$btn--border: 1px solid #110038;
$btn--bg--light: #f7c9f3;
$btn--bg--dark: #ee3efe;
$btn--line--hover: 1px dotted #110038;
$btn--bs--light: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
$btn--bs--dark: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
$fc--light: #110038;
$fc--dark: #ffffff;

$cont--buscar--bg--light: #e6e6e6;
$cont--buscar--bg--dark: #b4b4b4;
$cont--buscar--bs--light: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
$cont--buscar--bs--dark: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
$rec--buscar--b: 1px solid #e6bbe2;
$rec--buscar--bs: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
$btn--buscar--fc--light: #b4b4b4;
$btn--buscar--fc--dark: #8f8f8f;

$btn--mas--bg--light: #4180f6;
$btn--mas--bg--dark: #2e32fb;
$btn--mas--b: 1px solid #4c2f99;
$btn--mas--bs--light: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
$btn--mas--bs--dark: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
